#firstDiv {
    width: '100%';
    height: 500px;
    background-image: url('../images/hewey.jpg')
}
#secondDiv {
    width: '100%';
    height: 500px;
    background-image: url('../images/dewey.jpg')
}
span {
    color: white;
    background-color: indianred;
    font-size: 40px;
}

#secondDiv span {
    background-color: pink;
    font-size: 75px;
}
#thirdDiv {
    width: '100%';
    height: 500px;
    background-image: url('../images/sadie.jpg');
}

#fourthDiv {
    width: '100%';
    height: 500px;
    background-image: url('../images/roc.jpg');
}

#fourthDiv h1 {
    background-color: orange;
    font-size: 60px;
    font-style: italic;
}